@page
@model BuyList.Pages.ProductListAdmin.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProductList</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductList.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductList.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductList.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductList.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ProductList.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
